.h-primary{
    font-size: 1.4rem;
}
p{
    font-size: 1rem;
}
ul li a{
    font-size: 1rem;
}
#contact-box form{
    width: 96%;
}
.h-secondary{
    font-size: 1rem;
}
p{
    font-size: 0.9rem;
}
.btn{
    padding: 3px 3px;
    border: 2px solid white;
    background-color:brown;
    color: white;
    margin: 30px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    
}