#services .box img{
    width: 100px;
    height: 66px;
}
.h-primary{
    font-size: 1.1rem;
}
.h-secondary{
    font-size: 1rem;
}

p{
    font-size: 0.8rem;
}
ul li a{
    font-size: 0.8rem;
}
#home::before{
    height: 390px;

}
#home{
    height: 278px;

}
.btn{
    padding: 3px 3px;
    border: 2px solid white;
    background-color:brown;
    color: white;
    margin: 30px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    
}