/* Navigation */
#navbar{
    flex-direction: column;
}

/* Home section */

#home{
    padding: 11px 0px;
}
#home::before{
    height: 680px;
}
/* Services section */
#services{
    display: flex;
    flex-direction: column;

}
/* CLients section */
#clients{
    overflow: hidden;
}

/* contact section */
/* #contact{

} */
/* Footer section */
/* footer{

} */


